default_language_version:
    python: python3.11
repos:
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        args:
          - --safe
          - --quiet
          - --extend-exclude=venv
        language_version: python3.11
  - repo: https://github.com/pycqa/flake8
    rev: 7.1.2
    hooks:
      - id: flake8
        additional_dependencies:
        #- flake8-docstrings==1.5.0
        - pydocstyle==5.0.2
  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort
  - repo: https://github.com/pycqa/pylint
    rev: v3.3.6
    hooks:
      - id: pylint
        additional_dependencies:
        - aiohttp==3.7.3
        - netifaces==0.11.0
        - urllib3==1.26.3
        - tenacity==8.2.3
        exclude: 'tests/'
        args:
        - --ignore=setup.py
        - --extension-pkg-allow-list=netifaces
